.inner-form-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5em;
    background-color: var(--clr-secondary);
}

.inner-form-wrapper input{
    background: lightgray;
    border-style: solid;
    border-color: var(--clr-secondary);
    text-align: center;
    margin: 10px;
}

.inner-form-wrapper button{
    border-top: 5px solid #242424;
}

.full-page-wrapper h1{
    text-align: center;
}