*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*border: 1px solid red;*/
}

.outer-container{
  display: flex;
}

.mid-section-wrapper{
  display: flex;
  justify-content: space-between;
  height: calc(100vh - var(--nav-height) - var(--footer-height));
}

.outer-content{
  display: flex;
  flex-direction: row;
}

.full-page-wrapper{
  display: flex;
  flex-direction: column;
}








