.UserInfobar-container{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    min-width: 200px;
    font-size: 1.25em;
    border-inline: 2px solid var(--clr-quinary);
    align-items: center;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.user-info p{
    text-align: center;
    margin: 5px 0;
}

.user-info button{

}

.fit-image{
    display: block;
    width: 100%;
    height: auto;
    margin : 0;
}

.title{
    width: 100%;
    background-color: lightgray;
    text-align: center;
}

.not-logged-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.logged-in{
    display: flex;
    flex-direction: column;
    align-items: inherit;
    justify-content: center;
}

